<body .no-skin>
  $#  #section:basics/navbar.layout
  <div #navbar .navbar .navbar-default>
    <script type="text/javascript">
      try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    <div .navbar-container #navbar-container>
      $#  #section:basics/sidebar.mobile.toggle
      <button type="button" .navbar-toggle .menu-toggler .pull-left #menu-toggler data-target="#sidebar">
        <span .sr-only>
          Toggle sidebar
        <span .icon-bar>
        <span .icon-bar>
        <span .icon-bar>
      $#  /section:basics/sidebar.mobile.toggle
      <div .navbar-header .pull-left>
        $#  #section:basics/navbar.layout.brand
        <a href=@{AdminR} .navbar-brand>
          <small>
            <i .fa .fa-leaf>
            IPED Admin
        $#  /section:basics/navbar.layout.brand
        $#  #section:basics/navbar.toggle
        $#  /section:basics/navbar.toggle
      $#  #section:basics/navbar.dropdown
      <div .navbar-buttons .navbar-header .pull-right role="navigation">
        <ul .nav .ace-nav>
          $#  #section:basics/navbar.user_menu
          <li .light-blue>
            <a data-toggle="dropdown" href="#" .dropdown-toggle>
              <img .nav-user-photo src=@{StaticR assets_avatars_user_jpg} alt="Jason's Photo">
              <span .user-info>
                <small>
                  欢迎,
                #{username}
              <i .ace-icon .fa .fa-caret-down>
            <ul .user-menu .dropdown-menu-right .dropdown-menu .dropdown-yellow .dropdown-caret .dropdown-close>
              <li>
                <a href=@{AuthR LogoutR}>
                  <i .ace-icon .fa .fa-power-off>
                  退出
          $#  /section:basics/navbar.user_menu
      $#  /section:basics/navbar.dropdown
    $#  /.navbar-container
  $#  /section:basics/navbar.layout
  <div .main-container #main-container>
    <script type="text/javascript">
      try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    $#  #section:basics/sidebar
    <div #sidebar .sidebar .responsive>
      <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
      <div .sidebar-shortcuts #sidebar-shortcuts>
        <div .sidebar-shortcuts-large #sidebar-shortcuts-large>
          <button .btn .btn-success>
            <i .ace-icon .fa .fa-signal>
          <button .btn .btn-info>
            <i .ace-icon .fa .fa-pencil>
          $#  #section:basics/sidebar.layout.shortcuts
          <button .btn .btn-warning>
            <i .ace-icon .fa .fa-users>
          <button .btn .btn-danger>
            <i .ace-icon .fa .fa-cogs>
          $#  /section:basics/sidebar.layout.shortcuts
        <div .sidebar-shortcuts-mini #sidebar-shortcuts-mini>
          <span .btn .btn-success>
          <span .btn .btn-info>
          <span .btn .btn-warning>
          <span .btn .btn-danger>
      $#  /.sidebar-shortcuts
      <ul .nav .nav-list>
        <li>
          <a data-url="page/devices" href="#page/devices">
            <i .menu-icon .fa .fa-desktop>
            <span .menu-text>
              设备管理
          <b .arrow>
        <li>
          <a data-url="page/accounts" href="#page/accounts">
            <i .menu-icon .fa .fa-list>
            <span .menu-text>
              账户管理
          <b .arrow>
      $#  /.nav-list
      $#  #section:basics/sidebar.layout.minimize
      <div .sidebar-toggle .sidebar-collapse #sidebar-collapse>
        <i .ace-icon .fa .fa-angle-double-left data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right">
      $#  /section:basics/sidebar.layout.minimize
      <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    $#  /section:basics/sidebar

    <div .main-content>
      <div .main-content-inner>
        <div .page-content>
          <div .page-content-area data-ajax-content="true">
            $#  ajax content goes here
          $#  /.page-content-area
        $#  /.page-content
    $#  /.main-content

    <div .footer>
      <div .footer-inner>
        $#  #section:basics/footer
        <div .footer-content>
          <span .bigger-120>
            <span .blue .bolder>
              IPED
            视讯科技 © 2016
        $#  /section:basics/footer
    <a href="#" #btn-scroll-up .btn-scroll-up .btn .btn-sm .btn-inverse>
      <i .ace-icon .fa .fa-angle-double-up .icon-only .bigger-110>
  $#  /.main-container

  $#  basic scripts
  <!--[if !IE]> -->
    <script type="text/javascript">
      window.jQuery || document.write("<script src=@{StaticR assets_js_jquery_js}>"+"<"+"/script>");
  <!-- <![endif]-->

  <!--[if IE]>
    <script type="text/javascript">
      window.jQuery || document.write("<script src=@{StaticR assets_js_jquery1x_js}>"+"<"+"/script>");
  <![endif]-->

  <script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src=@{StaticR assets_js_jquery_mobile_custom_js}>"+"<"+"/script>");
  <script src=@{StaticR assets_js_bootstrap_js}>

  $#  ace scripts
  <script src=@{StaticR assets_js_ace_elements_scroller_js}>
  <script src=@{StaticR assets_js_ace_elements_colorpicker_js}>
  <script src=@{StaticR assets_js_ace_elements_fileinput_js}>
  <script src=@{StaticR assets_js_ace_elements_typeahead_js}>
  <script src=@{StaticR assets_js_ace_elements_wysiwyg_js}>
  <script src=@{StaticR assets_js_ace_elements_spinner_js}>
  <script src=@{StaticR assets_js_ace_elements_treeview_js}>
  <script src=@{StaticR assets_js_ace_elements_wizard_js}>
  <script src=@{StaticR assets_js_ace_elements_aside_js}>
  <script src=@{StaticR assets_js_ace_ace_js}>
  <script src=@{StaticR assets_js_ace_ace_ajax_content_js}>
  <script src=@{StaticR assets_js_ace_ace_touch_drag_js}>
  <script src=@{StaticR assets_js_ace_ace_sidebar_js}>
  <script src=@{StaticR assets_js_ace_ace_sidebar_scroll_1_js}>
  <script src=@{StaticR assets_js_ace_ace_submenu_hover_js}>
  <script src=@{StaticR assets_js_ace_ace_widget_box_js}>
  <script src=@{StaticR assets_js_ace_ace_settings_js}>
  <script src=@{StaticR assets_js_ace_ace_settings_rtl_js}>
  <script src=@{StaticR assets_js_ace_ace_settings_skin_js}>
  <script src=@{StaticR assets_js_ace_ace_widget_on_reload_js}>
  <script src=@{StaticR assets_js_ace_ace_searchbox_autocomplete_js}>
